{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tercera pre-entrega+Abadi</title>
        
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'startbootstrap-landing-page-gh-pages/css/styles.css' %}" rel="stylesheet" />    
    </head>
    
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'bienvenida' %}">Inicio</a>
                <a class="btn btn-primary" href="{% url 'ingresar_usuario' %}">Ingresar Usuario</a>
                <a class="btn btn-primary" href="{% url 'hacer_test' %}">Hacer test</a>
                <a class="btn btn-primary" href="{% url 'hacer_posteo' %}">Postear</a>
                <a class="btn btn-primary" href="{% url 'buscar_usuario' %}">Buscar Usuario</a>
                
                
                

            </div>
        </nav>
       
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative text-white">
                                           
                            
                            {% block contenidoQueCambia %}
                                
                            {% endblock contenidoQueCambia %}

                 
            </div>
        </header>
      
        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100  text-lg-start ">
                        <h4 class="mb-4 mb-lg-0">&copy; Tercera pre-entrega+Abadi</h4>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
